<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">Contact</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Date</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">Where</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Money Needed</label>
      </div>
    </div>
    <div class="row">

      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s5">
          <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
          </button>
        </div>
      </div>
  </div>
  <!--  <div class="row">
      <div class="input-field col s4">
        <input name="group1" type="radio" id="test1" />
        <label for="test1">Helping animals</label>
      </div>
      <div class="input-field col s4">
        <input name="group2" type="radio" id="test2" />
        <label for="test2">helping people</label>
      </div>
      <div class="input-field col s4">
      </div> -->

  </form>

</div>
