		<!-- Me -->
		<article id="me" class="panel">
			<header>
				<h1 class="flow-text">{{campaign.title}}</h1>
				<p class="flow-text">{{campaign.description}}</p>
				<p class="flow-text">{{campaign.time}}</p>
				<p class="flow-text">{{campaign.place}}</p>
				<p class="flow-text">{{campaign.host}}</p>

				<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@10T010">
	<meta name="twitter:creator" content="@10T010">
	<meta name="twitter:title" content="10T010">
	<meta name="twitter:description" content="10T010">

	<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="large">
Tweet</a>
	<!--<meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg">-->

<button data-sc-key="sbpb_MmI4MDFkODEtZjczOS00MWJjLThmN2QtMmE1ZWEyMzkzZjAz"
        data-name = test.toString();
        data-description="Donate for beach cleaning"
        data-reference="99999"
        data-amount="3000"
        data-color="#12B830">
      	Donate Now
</button>

		</article>
